name: Deploy Vote Service

on:
    push:
        branches: [main]
        paths:
            - "vote/**"
            - "k8s-specifications/**"
    pull_request:
        branches: [main]

jobs:
    deploy-vote:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Login to Azure
              uses: azure/login@v2
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Set AKS context
              run: |
                  az aks get-credentials --resource-group rg-voting-app --name aks-voting-app

            - name: Deploy Vote service
              run: |
                  kubectl apply -f k8s-specifications/vote/
                  kubectl rollout status deployment vote
