name: Deploy Worker Service

on:
    push:
        branches: [main]
        paths:
            - "worker/**"
            - "k8s-specifications/**"
    pull_request:
        branches: [main]

jobs:
    deploy-worker:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Login to Azure
              uses: azure/login@v2
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Set AKS context
              run: |
                  az aks get-credentials --resource-group rg-voting-app --name aks-voting-app

            - name: Deploy Worker service
              run: |
                  kubectl apply -f k8s-specifications/worker/
                  kubectl rollout status deployment worker
